# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
electricfence/node_modules
electricfence/.pnp
.pnp.js

# testing
electricfence/coverage

# production
electricfence/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
